<h2>Eventos</h2>
<hr />

<div class="row row-cols-lg-auto g-3 align-items-center mb-2">
  <div>
    <label class="mr-2">Filtro:</label>
  </div>
  <div>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th class="text-center">
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()"
        >
          {{ !exibirImg ? "Exibir" : "Ocultar" }}
        </button>
      </th>
      <th class="text-center">#</th>
      <th class="text-center">Tema</th>
      <th class="text-center">Local</th>
      <th class="text-center">Data</th>
      <th class="text-center">Qtd Pessoas</th>
      <th class="text-center">Lote</th>
      <th class="text-center">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img
          [collapse]="!exibirImg"
          [isAnimated]="true"
          src="{{ evento.imagemURL }}"
          alt="imagens"
          height=""
          [style.width.px]="larguraImg"
          [style.height.px]="alturaImg"
          [style.margin.px]="margemImg"
        />
      </td>
      <td class="text-center">{{ evento.eventoId }}</td>
      <td class="text-center">{{ evento.tema }}</td>
      <td class="text-center">{{ evento.local }}</td>
      <td class="text-center">{{ evento.dataEvento }}</td>
      <td class="text-center">{{ evento.qtdPessoas }}</td>
      <td class="text-center">{{ evento.lote }}</td>
      <td class="text-center">
        <button type="button" class="btn btn-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
